@charset "UTF-8";
body, html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: '游ゴシック' , '游ゴシック体' , 'YuGothic' , 'Yu Gothic', 'Noto Sans JP', sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column; }

*, *:before, *:after {
  box-sizing: inherit; }

.max--width {
  max-width: 1980px; }

/* fonts/ main colors & main styles */
p, h1, h2, h3, h4, h5, ul, li, a, span {
  color: #46494c;
  letter-spacing: -1.5px; }

p {
  line-height: 2.1;
  font-size: 0.9rem;
  text-align: justify; }

h1 {
  color: #527c99;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -5px;
  padding: 0rem 3rem;
  border-bottom: 1px solid rgba(82, 124, 153, 0.3);
  font-family: '游明朝','游明朝体','YuMincho','Yu Mincho', serif; }

h1 {
  padding-bottom: 5px; }

h2 {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  font-size: 2rem;
  color: #527c99;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Noto Sans JP"; }

h5 {
  grid-column: 2 / 8;
  justify-self: center;
  grid-row: 2/ 3;
  line-height: 1.6;
  border-top: 1px solid rgba(70, 73, 76, 0.2);
  padding: 1.5rem 0rem 0rem 0rem;
  font-size: 1.125rem;
  text-align: center; }

li {
  font-size: 0.85rem; }

a {
  letter-spacing: 0.05px; }

/* font: under name*/
.headline--h3__color {
  color: #d9d9d9; }

section {
  display: grid;
  grid-template-columns: repeat(8, 5fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px 40px;
  width: 100%;
  padding: 1.5rem 3rem 3rem 3rem;
  height: auto; }

section.white {
  background-color: #dfdfdf; }

section.grey {
  background-color: rgba(170, 160, 160, 0.6); }

p {
  grid-column: 2/span 3;
  grid-row: 5/span 1; }

/* 作った物*/
figure {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 3px 3px 10px grey;
  border-radius: 3px;
  grid-column: 2 / span 3;
  grid-row: 3/ span 1; }
  figure img {
    width: 100%;
    height: auto;
    display: block; }

figure.right {
  grid-column: 5/ span 3;
  grid-row: 3/ span 1; }

/*the link icons*/
.project__left, .project__right, .project__big {
  grid-column: 4 /span 1;
  grid-row: 3/ span 1;
  justify-self: end;
  z-index: 10; }
  .project__left i, .project__right i, .project__big i {
    font-size: 1rem;
    background-color: #527c99;
    color: #dfdfdf;
    padding: 0.8rem;
    border-radius: 0px 0px 0px 4px; }

.project__right {
  grid-column: 7 /span 1; }

.project__big {
  grid-column: 2 /8; }

/* 繋ぐコーヒー*/
figure.span__all {
  grid-column: 2 / 8; }

figure.span__taisanji {
  grid-column: 3 / 5; }

/* minutes of meeting */
figure.minutes {
  grid-column: 2 / 8; }

.minutes__left {
  grid-column: 2/4; }

.minutes__middle {
  grid-column: 4/6; }

.minutes__right {
  grid-column: 6/8; }

/* skills */
section ul.skills.skills__left {
  grid-column: 2 / span 3; }

section ul.skills.skills__right {
  grid-column: 5/ span 3; }

/*banner main picture*/
#banner {
  background-image: url("../images/ayaTanabe.jpg");
  /* to get the path right, you need to think where you are first*/
  background-repeat: no-repeat;
  background-size: cover;
  /*this is what scales the image*/
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: 0; }

/* media query for ipads fix for background-attachment */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #banner {
    background-position: center;
    background-attachment: local; } }
.headline {
  width: auto;
  height: auto;
  padding-top: 23%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center; }

.navbar--smartphone {
  display: none; }

.navbar {
  position: fixed;
  top: 5%;
  left: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  z-index: 10; }

.arrow {
  position: fixed;
  bottom: 0%;
  left: 86%;
  z-index: 1000; }

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 0; }

.navbar ul.nav li, .arrow {
  width: 112px;
  width: 112px;
  width: 5.5rem;
  padding: 0px 0px;
  padding: 0px 0px;
  padding: 0rem 0rem; }

.navbar ul.nav li a, .navbar ul.nav li a:hover {
  text-decoration: none;
  color: #dfdfdf;
  font-weight: 500;
  padding: 1.25rem 0rem;
  /* height of the nav */ }

li.nav__animation, .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__animation i {
  font-size: 32px;
  font-size: 32px;
  font-size: 1.5rem;
  padding: 1.25rem 0rem;
  color: #dfdfdf;
  position: relative;
  -webkit-animation-name: mymove;
  animation-name: mymove;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

.arrow i {
  padding: 0.9rem 0rem;
  font-size: 1.5rem;
  color: #dfdfdf; }

@-webkit-keyframes mymove {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@keyframes mymove {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
.navbar ul.nav li {
  background-color: #474853; }

/*different from rest because of contrast to footer when scrolling down*/
/* the border-radius 4px turned out to be a pain in the ass because there are so
many different states involved all need to be adjusted */
/* again there seems to be a white background color comming from the bootstrap css
this is to fix this */
/* THIS IS WHERTE THE SPY IS TAKING EFFECT*/
.navbar ul.nav li.active a, .arrow {
  border-radius: 0px 0px 4px 4px;
  background-color: #527c99; }

.arrow {
  border-radius: 4px 4px 0px 0px; }

/* active a:hover is in there because of a border that comes from the bootstrap css */
ul.nav.nav-tabs, ul.nav.nav-tabs a, .navbar ul.nav li.active a:hover {
  color: #dfdfdf;
  border: none;
  border-radius: 0px;
  margin: 0; }

/*this one drove me crazy, I could not find the state that needed to be
adjusted for the round corners. Eventually, I found it with dev Tools
and all I needed to do was write the path down*/
ul.nav li a:hover {
  background-color: #527c99;
  border-radius: 0px 0px 0px 0px; }

.nav--bordertop {
  border-radius: 4px 4px 0px 0px; }

.nav--borderbottom {
  border-radius: 0px 0px 4px 4px; }

.project {
  width: 100%;
  height: 100%;
  max-height: auto;
  overflow: hidden;
  position: relative; }

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 1;
  transition: all 250ms linear 0ms;
  overflow: hidden; }

/* transition on element directly */
.project__overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(134, 179, 209, 0.8);
  /* set opacity to color, so font is not effected */
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 1;
  z-index: 0; }

/* overlay for faded red color
over effect directly on project*/
.project:hover .project__overlay {
  width: calc(100% + 1px);
  /* to fix additoinal 1px on hover */
  left: 0; }

div.project__header {
  white-space: nowrap; }

h3.project__header__text {
  font-size: 1.5rem;
  color: #dfdfdf;
  font-weight: 500;
  padding-bottom: 0.35rem;
  position: absolute;
  top: 6%;
  left: 7%;
  border-bottom: 2px solid transparent;
  width: 0%;
  white-space: nowrap;
  transition: all 450ms linear 0ms; }

h3.project__header__text.text__color {
  color: #46494c;
  font-weight: 500; }

.project:hover .project__header__text {
  border-bottom: 2px solid #dfdfdf;
  width: 77%;
  z-index: 1; }

.project:hover .project__header__text.text__color {
  border-bottom: 2px solid #46494c; }

/* size of the stars*/
.fas {
  font-size: 13.2px;
  font-size: 13.2px;
  font-size: 0.825rem; }

/* skills section styles */
.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: background-color 150ms ease-in 0ms;
  transition: background-color 150ms ease-in 0ms;
  padding: 6px;
  margin: -4px; }

.skills {
  font-size: 1rem;
  font-weight: 400; }

.margin--bottom {
  margin-bottom: 20px; }

.fa--color {
  color: rgba(71, 72, 83, 0.99); }

.fa--colorfaded {
  color: rgba(71, 72, 83, 0.3); }

.skills--hover i {
  -webkit-transition: padding-left 250ms ease-in-out;
  transition: padding-left 250ms ease-in-out; }

.skills--hover:hover i {
  padding-left: 3.2px;
  padding-left: 3.2px;
  padding-left: 0.2rem;
  color: #dfdfdf; }

.skills--hover:hover span {
  color: #dfdfdf; }

.skills--hover:hover {
  background-color: rgba(82, 124, 153, 0.5);
  color: #dfdfdf;
  border-radius: 2px;
  padding: 0px -16px;
  padding: 0px -16px;
  padding: 0rem -1rem; }

footer {
  background-color: rgba(71, 72, 83, 0.99);
  padding: 1rem 12rem;
  color: #dfdfdf;
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-gap: 20px 40px;
  width: 100%;
  padding: 1.5rem 3rem 5rem 3rem; }

footer h2, footer h4, footer h5 {
  color: #dfdfdf; }

footer h2 {
  border-bottom: 1px solid rgba(223, 223, 223, 0.5);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  grid-column: 2 / span 3; }

.contact {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-self: center; }

.contact__mail {
  color: rgba(71, 72, 83, 0.99); }

.contact__icon {
  background-color: #dfdfdf;
  border-radius: 50px;
  width: 2rem;
  padding: 0.5rem 0px;
  text-align: center; }

.contact__icon:hover {
  background-color: #F9F9F9; }

.contact__icon {
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 250ms linear 0ms; }

/* Portrait phones min400 */
@media all and (min-width: 350px) and (max-width: 469px) {
  h1 {
    font-size: 2.5rem; }

  .hide--sm470 {
    display: block; }

  /* apple background fix */
  .container-fluid__banner {
    background-position: center;
    background-attachment: local; }

  div.language-box {
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -75px; }

  section, footer {
    padding-left: 1rem;
    padding-right: 1rem; } }
/* Portrait phones max470 */
@media all and (max-width: 470px) {
  .hide1 {
    display: none; }

  section, footer {
    display: grid;
    grid-gap: 30px 0px;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    height: auto; }

  .headline {
    padding: 23% 4rem 0rem 4rem; }

  h2 {
    font-size: 20rem; }

  figure {
    grid-column: 1 /-1; }

  figure.right {
    grid-column: 1 /-1;
    grid-row: 4 /-1; }

  .project__left, .project__right {
    grid-column: 1 /-1; }

  .project__right {
    grid-row: 4 / -1; }

  .minutes__left, .minutes__middle, .minutes__right {
    grid-column: 1/-1; }

  .minutes__left {
    grid-row: 3/ 4; }

  .minutes__middle {
    grid-row: 4/ span 1; }

  .minutes__right {
    grid-row: 5/ span 1; }

  figure.span__all {
    grid-column: 1 / -1; }

  figure.span__taisanji {
    grid-column: 3 / span 4; }

  p {
    grid-row: 6/ span 1; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; }

  .arrow {
    left: 0;
    width: 100%;
    height: 2.75rem;
    border-radius: 0px;
    background-color: #527c99;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

  .arrow:hover {
    background-color: #3F5E75; }

  p {
    font-size: 0.9rem; }

  h1 {
    font-size: 3rem;
    color: #527c99;
    border-bottom: 1px solid rgba(82, 124, 153, 0.5);
    padding: 0rem 2.5rem 0.2rem 2.5rem; }

  h2 {
    font-size: 1.35rem; }

  h5 {
    font-size: 1rem;
    padding: 1rem 0rem 0rem 0.5rem;
    margin-top: -1rem;
    text-align: center; } }
/* Portrait phones max600 */
@media all and (min-width: 470px) and (max-width: 600px) {
  .hide1 {
    display: none; }

  section, footer {
    display: grid;
    grid-gap: 30px 0px;
    width: 100%;
    padding: 1rem 2.5rem 2rem 2.5rem;
    height: auto; }

  .headline {
    padding: 23% 4rem 0rem 4rem; }

  h2 {
    font-size: 20rem; }

  figure {
    grid-column: 1 /-1; }

  figure.right {
    grid-column: 1 /-1;
    grid-row: 4 /-1; }

  .project__left, .project__right {
    grid-column: 1 /-1; }

  .project__right {
    grid-row: 4 / -1; }

  .minutes__left, .minutes__middle, .minutes__right {
    grid-column: 1/-1; }

  .minutes__left {
    grid-row: 3/ 4; }

  .minutes__middle {
    grid-row: 4/ span 1; }

  .minutes__right {
    grid-row: 5/ span 1; }

  figure.span__all {
    grid-column: 1 / -1; }

  figure.span__taisanji {
    grid-column: 3 / span 4; }

  p {
    grid-row: 6/ span 1; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; }

  .arrow {
    left: 0;
    width: 100%;
    height: 2.75rem;
    border-radius: 0px;
    background-color: #527c99;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

  .arrow:hover {
    background-color: #3F5E75; }

  p {
    font-size: 0.9rem; }

  h1 {
    font-size: 3rem;
    color: #527c99;
    border-bottom: 1px solid rgba(82, 124, 153, 0.5);
    padding: 0rem 2.5rem 0.2rem 2.5rem; }

  h2 {
    font-size: 1.4rem; }

  h5 {
    font-size: 1.125rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    text-align: center; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; } }
/* Portrait phones max768 */
@media all and (min-width: 601px) and (max-width: 768px) {
  .hide1 {
    display: none; }

  section, footer {
    display: grid;
    grid-gap: 30px 0px;
    width: 100%;
    padding: 1rem 4.5rem 2rem 4.5rem;
    height: auto; }

  .headline {
    padding: 23% 4rem 0rem 4rem; }

  figure {
    grid-column: 1 /-1; }

  figure.right {
    grid-column: 1 /-1;
    grid-row: 4 /-1; }

  .project__left, .project__right {
    grid-column: 1 /-1; }

  .project__right {
    grid-row: 4 / -1; }

  .minutes__left, .minutes__middle, .minutes__right {
    grid-column: 1/-1; }

  .minutes__left {
    grid-row: 3/ 4; }

  .minutes__middle {
    grid-row: 4/ span 1; }

  .minutes__right {
    grid-row: 5/ span 1; }

  figure.span__all {
    grid-column: 1 / -1; }

  figure.span__taisanji {
    grid-column: 3 / span 4; }

  p {
    grid-row: 6/ span 1; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; }

  .arrow {
    left: 0;
    width: 100%;
    height: 2.75rem;
    border-radius: 0px;
    background-color: #527c99;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

  .arrow:hover {
    background-color: #3F5E75; }

  p {
    font-size: 0.9rem; }

  h1 {
    font-size: 4rem;
    color: #527c99;
    border-bottom: 1px solid rgba(82, 124, 153, 0.5);
    padding: 0rem 2.5rem 0.2rem 2.5rem; }

  h2 {
    font-size: 1.5rem; }

  h5 {
    font-size: 1.3rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    text-align: center; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; } }
/* tablets portrait view*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hide1 {
    display: none; }

  section, footer {
    display: grid;
    grid-gap: 40px 0px;
    width: 100%;
    padding: 1rem 7rem 2rem 7rem;
    height: auto; }

  .headline {
    padding: 23% 4rem 0rem 4rem; }

  h2 {
    font-size: 20rem; }

  figure {
    grid-column: 1 /-1; }

  figure.right {
    grid-column: 1 /-1;
    grid-row: 4 /-1; }

  .project__left, .project__right {
    grid-column: 1 /-1; }

  .project__right {
    grid-row: 4 / -1; }

  .minutes__left, .minutes__middle, .minutes__right {
    grid-column: 1/-1; }

  .minutes__left {
    grid-row: 3/ 4; }

  .minutes__middle {
    grid-row: 4/ span 1; }

  .minutes__right {
    grid-row: 5/ span 1; }

  figure.span__all {
    grid-column: 1 / -1; }

  figure.span__taisanji {
    grid-column: 3 / span 4; }

  p {
    grid-row: 6/ span 1; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; }

  .arrow {
    left: 0;
    width: 100%;
    height: 2.75rem;
    border-radius: 0px;
    background-color: #527c99;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

  .arrow:hover {
    background-color: #3F5E75; }

  p {
    font-size: 0.9rem; }

  h1 {
    font-size: 4.5rem;
    color: #527c99;
    border-bottom: 1px solid rgba(82, 124, 153, 0.5);
    padding: 0rem 2.5rem 0.2rem 2.5rem; }

  h2 {
    font-size: 1.75rem; }

  h5 {
    font-size: 1.3rem;
    padding: 0.5rem 0rem 0rem 0rem;
    text-align: center; }

  /* apple background fix */
  #banner {
    background-position: center;
    background-attachment: local; } }

/*# sourceMappingURL=style.css.map */
