/*banner main picture*/

#banner {
  background-image: url("../images/ayaTanabe.jpg"); /* to get the path right, you need to think where you are first*/
  background-repeat: no-repeat;
  background-size: cover;/*this is what scales the image*/
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: 0;
}



/* media query for ipads fix for background-attachment */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
.container-fluid__banner {
  background-position: center;
  background-attachment: local;
}
}

.headline {
  width: auto;
  height:auto;
  padding-top: 23%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
