/* fonts/ main colors & main styles */
p, h1, h2, h3, h4, h5, ul, li, a, span{
  color: $fontGray;
  letter-spacing: -1.5px;
}

p {
  line-height: 2.1;
  font-size: 0.9rem;
  text-align: justify;
}

h1 {
  color:$fontBlue;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -5px;
  padding: 0rem 3rem;
  border-bottom: 1px solid rgba(82,124,153, 0.3);
  font-family: '游明朝','游明朝体','YuMincho','Yu Mincho', serif;
}

h1 {
  padding-bottom: 5px;
}

h2 {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  font-size: 2rem;
  color: $fontBlue;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Noto Sans JP";
}


h5 {
  grid-column: 2 / 8;
  justify-self: center;
  grid-row: 2/ 3;
  line-height: 1.6;
  border-top: 1px solid $fontGrayFaded;
  padding: 1.5rem 0rem 0rem 0rem;
  font-size: 1.125rem;
  text-align: center;
}

li {
  font-size: 0.85rem;

}
a {
  letter-spacing: 0.05px;
}
/* font: under name*/
.headline--h3__color{
  color:#d9d9d9;
}
