section {
  display: grid;
  grid-template-columns: repeat(8, 5fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px 40px;
  width: 100%;
  padding: 1.5rem 3rem 3rem 3rem;
  height: auto;
}

section.white{background-color: $fontWhite}
section.grey {background-color: $sectionGray;}

p {
  grid-column: 2 / span 3 ;
  grid-row: 5 / span 1 ;
}


/* 作った物*/

figure{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 3px 3px 10px grey;
  border-radius: 3px;
  grid-column: 2 / span 3;
  grid-row: 3/ span 1;
  img {
    width:100%;
    height: auto;
    display: block;}
}

figure.right {
  grid-column: 5/ span 3;
  grid-row: 3/ span 1;
}

/*the link icons*/
.project__left, .project__right, .project__big{
  grid-column: 4 /span 1;
  grid-row: 3/ span 1;
  justify-self: end;
  z-index: 10;
  i{
    font-size: 1rem;
    background-color: $fontBlue;
    color:$fontWhite;
    padding: 0.8rem;
    border-radius: 0px 0px 0px 4px;
  }
}
.project__right{grid-column: 7 /span 1;}
.project__big{grid-column: 2 /8;}


/* 繋ぐコーヒー*/

figure.span__all {
  grid-column: 2 / 8;
}
figure.span__taisanji {
  grid-column: 3 / 5;
}
/* minutes of meeting */
figure.minutes {
  grid-column: 2 / 8;
}

.minutes__left{
  grid-column: 2/4;
}
.minutes__middle {
  grid-column: 4/6;
}
.minutes__right {
  grid-column: 6/8;
}



/* skills */

section ul.skills.skills__left{
  grid-column: 2 / span 3;
}

section ul.skills.skills__right {
  grid-column: 5/ span 3;
}
